alembic==1.8.1
antlr4-python3-runtime==4.9.3
argh==0.26.2
asgiref==3.5.2
atomicwrites==1.4.1
attrs==22.1.0
boto3==1.24.60
botocore==1.27.60
Bottleneck @ file:///C:/Windows/Temp/abs_3198ca53-903d-42fd-87b4-03e6d03a8381yfwsuve8/croots/recipe/bottleneck_1657175565403/work
Brotli @ file:///C:/Windows/Temp/abs_63l7912z0e/croots/recipe/brotli-split_1659616056886/work
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.1
click @ file:///C:/ci/click_1646038601470/work
colorama @ file:///C:/Windows/TEMP/abs_9439aeb1-0254-449a-96f7-33ab5eb17fc8apleb4yn/croots/recipe/colorama_1657009099097/work
core-lib==0.0.0.9
cryptography==37.0.4
dash==2.6.1
dash-bootstrap-components==0.8.3
dash-core-components==2.0.0
dash-html-components @ file:///home/conda/feedstock_root/build_artifacts/dash-html-components_1645162180756/work
dash-renderer==1.1.2
dash-table==5.0.0
dash-tools==1.8.2
distlib==0.3.5
Django==3.2.15
docopt==0.6.2
filelock==3.8.0
Flask @ file:///C:/ci/flask_1658860110736/work
Flask-Compress @ file:///tmp/build/80754af9/flask-compress_1623922802283/work
future==0.18.2
greenlet==1.1.3
gunicorn==20.1.0
hydra-core==1.2.0
identify==2.5.3
idna==3.3
importlib-metadata @ file:///C:/ci/importlib-metadata_1648562631189/work
importlib-resources==5.9.0
iniconfig==1.1.1
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
jmespath==1.0.1
Mako==1.2.1
MarkupSafe @ file:///C:/ci/markupsafe_1654508076077/work
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186163140/work
mkl-service==2.4.0
nodeenv==1.7.0
numexpr @ file:///C:/Windows/Temp/abs_e2036a32-9fe9-47f3-a04c-dbb1c232ba4b334exiur/croots/recipe/numexpr_1656940304835/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1653574840943/work
omegaconf==2.2.3
packaging==21.0
pandas @ file:///C:/ci/pandas_1641461312795/work
parsedatetime==2.6
patsy==0.5.2
pipreqs==0.4.11
platformdirs==2.5.2
plotly @ file:///opt/conda/envs/env/conda-bld/plotly_1660225103991/work/packages/python/plotly/dist/plotly-5.10.0.tar.gz
plotly-express==0.4.1
pluggy==0.13.1
pre-commit==2.16.0
psycopg2-binary==2.9.3
py==1.11.0
pycparser==2.21
PyJWT==2.4.0
pymongo==4.2.0
PyMySQL==1.0.2
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pysolr==3.9.0
pytest==6.2.2
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==0.20.0
python-memcached==1.59
pytimeparse==1.1.8
pytz @ file:///C:/Windows/TEMP/abs_90eacd4e-8eff-491e-b26e-f707eba2cbe1ujvbhqz1/croots/recipe/pytz_1654762631027/work
PyYAML==6.0
requests==2.28.1
s3transfer==0.6.0
scipy @ file:///C:/ci/scipy_1661333074914/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
SQLAlchemy==1.4.40
sqlparse==0.4.2
statsmodels==0.13.2
tenacity @ file:///C:/Windows/TEMP/abs_980d07a6-8e21-4174-9c17-7296219678ads7dhdov_/croots/recipe/tenacity_1657899108023/work
termcolor==1.1.0
toml==0.10.2
typing_extensions @ file:///C:/Windows/TEMP/abs_dd2d0moa85/croots/recipe/typing_extensions_1659638831135/work
urllib3==1.26.12
virtualenv==20.16.3
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
wincertstore==0.2
yarg==0.1.9
yolk3k==0.9
zipp @ file:///C:/ci/zipp_1652274072582/work
